#button-1{
   text-align: center;
   color: white; 
   background-color: blue;
}
#button-2{
    border-color: black;
    background-color: white;
}
#button-3{
color: white;
background-color: green;
padding: 4px;
border-color: green;
}
#button-4{
    color: white;
    background-color: crimson;
    border-color: crimson;

}
#button-5{
    background-color: yellow;
    width: 600px;
    border: none;
}
#button-6{
    background-color: aqua;
    border: none;
}
#button-7{
    border: none;
}
#button-8{
    color:blue ;
    border: none;
    text-underline-position: below;
    background-color: white;

}